/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--color-primary: #0d4663;
	--color-secondary: #135492;
	--color-accent: #ff9a88;

	--color-black: #111;
	--color-white: #f5f5f5;

	--font-sans: "Inter";

	--nav-height: 64px;
}

body {
	font-family: var(--font-sans), serif;
}


.container {
	background-color:whitesmoke ;
	width: 100%;
	min-height: 100vh;
	outline: solid 5px whitesmoke;
	display: flex;
	gap: 1rem;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: o auto;
	padding: 2px 16px;

}

.card {
   /*Addshadowstocreatethe"card"effect*/
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   width: 300px;
   height: 500px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: center;
   aspect-ratio: 1;
   font-size: 1rem;
   min-height: 2vh;
   border-radius: 24px;
   background-color:whitesmoke;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img {
  width: 200px 200px;
  margin: 10px;
  display: inline-block;

}

.card-title {
  margin: 5px;
}

.card-text {
  margin: 10px;
}

.buy {
  padding: 5px;
  border-radius: 5px;
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 5px;
}
